spring-cache-config/branches/preview/spring-integration/src/main/resources/spring-cache-config.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 2010 Grid Dynamics Consulting Services, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<xs:schema xmlns="http://gridkit.org/schema/coherence/spring-cache-config" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:beans="http://www.springframework.org/schema/beans"
		   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
           
           targetNamespace="http://gridkit.org/schema/coherence/spring-cache-config "
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

	<!-- This is noop container tag get give a chance to override default namespace -->
	<xs:element name="coherence-config">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="named-cache"/>
				<xs:element ref="service-instance"/>
				
				<xs:element ref="distributed-service-scheme"/>
				<xs:element ref="replicated-service-scheme"/>
				<xs:element ref="optimistic-service-scheme"/>
				<xs:element ref="invocation-service-scheme"/>
				
				<xs:element ref="proxy-service-scheme"/>
				<xs:element ref="remote-cache-scheme"/>				
				<xs:element ref="remote-invocation-service-scheme"/>
				
				<xs:element ref="named-cache-scheme"/>

				<xs:element ref="near-cache-scheme"/>				
				<xs:element ref="local-cache-scheme"/>
				<xs:element ref="read-write-backing-map-scheme"/>		
				
				<xs:element ref="beans:bean"/>		
			</xs:choice>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="single-spring-bean">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:group name="single-spring-bean-elements">
		<xs:choice>
			<xs:element ref="beans:bean"/>
			<xs:element ref="beans:ref"/>
			<xs:element ref="beans:null"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="serializer-bean">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
			<xs:element name="pof">
				<xs:complexType>
					<xs:attribute name="config" use="optional" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="acceptor-config-bean">
		<xs:choice>
			<xs:element name="connection-limit" minOccurs="0" maxOccurs="1" type="xs:integer"/>
			<xs:element name="outgoing-message-handler" minOccurs="0" maxOccurs="1" type="outgoing-message-handler-bean"/>
			<xs:element name="serializer" minOccurs="0" maxOccurs="1" type="serializer-bean"/>
			<xs:element name="tcp-acceptor" minOccurs="0" maxOccurs="1" type="single-spring-bean">
			<!-- 
				<xs:complexType>
					<xs:choice>
						<xs:group ref="tcp-config-elements"/>
						<xs:element name="address-provider" minOccurs="0" maxOccurs="1" type="address-provider-bean"/>
						<xs:element name="listen-backlog" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="authorized-hosts" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:choice>
						            <xs:element name="host-address" minOccurs="0" maxOccurs="1" type="xs:string"/>
						            <xs:element name="host-range" minOccurs="0" maxOccurs="1" type="xs:string"/>
						            <xs:element name="host-filter" minOccurs="0" maxOccurs="1" type="single-spring-bean"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="suspect-protocol-enabled" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="suspect-buffer-size" minOccurs="0" maxOccurs="1" type="size-value"/>
						<xs:element name="suspect-buffer-length" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="nominal-buffer-size" minOccurs="0" maxOccurs="1" type="size-value"/>
						<xs:element name="nominal-buffer-length" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="limit-buffer-size" minOccurs="0" maxOccurs="1" type="size-value"/>
						<xs:element name="limit-buffer-length" minOccurs="0" maxOccurs="1" type="xs:integer"/>
					</xs:choice>
				</xs:complexType>
				 -->
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="filters" type="beans:collectionType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="initiator-config-bean">
		<xs:choice>
			<xs:element name="outgoing-message-handler" minOccurs="0" maxOccurs="1" type="outgoing-message-handler-bean"/>
			<xs:element name="serializer" minOccurs="0" maxOccurs="1" type="serializer-bean"/>
			<xs:element name="tcp-initiator" minOccurs="0" maxOccurs="1" type="single-spring-bean">
			<!-- 
				<xs:complexType>
					<xs:choice>
						<xs:group ref="tcp-config-elements"/>
						<xs:element name="remote-addresses" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:choice>
						            <xs:element name="socket-address" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="host" use="required" type="xs:string"/>
											<xs:attribute name="port" use="optional" type="xs:integer"/>
										</xs:complexType>
						            </xs:element>
									<xs:element name="address-provider" minOccurs="0" maxOccurs="1" type="address-provider-bean"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="connect-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
					</xs:choice>
				</xs:complexType>
				 -->
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="filters" type="beans:collectionType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="outgoing-message-handler-bean">
		<xs:choice>
			<xs:element name="heartbeat-interval" minOccurs="0" maxOccurs="1" type="time-value"/>
			<xs:element name="heartbeat-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
			<xs:element name="request-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
		</xs:choice>
	</xs:complexType>
	
	<!-- 
	<xs:complexType name="address-provider-bean">
		<xs:choice>
			<xs:element name="class-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="class-factory-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="method-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
			<xs:element name="init-params" minOccurs="0" maxOccurs="1" type="init-params"/>
		</xs:choice>
	</xs:complexType>
	 -->
	
	<!-- 
	<xs:complexType name="proxy-config-bean">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
			<xs:element name="cache-service-proxy">
				<xs:complexType>
					<xs:choice>
						<xs:element name="enabled" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="lock-enabled" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="read-only" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="class-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
						<xs:element name="init-params" minOccurs="0" maxOccurs="1" type="init-params"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="invocation-service-proxy">
				<xs:complexType>
					<xs:choice>
						<xs:element name="enabled" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="class-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
						<xs:element name="init-params" minOccurs="0" maxOccurs="1" type="init-params"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	 -->

	<!-- 
	<xs:complexType name="init-params">
		<xs:choice>
			<xs:element minOccurs="1" maxOccurs="unbounded" name="init-param">
				<xs:complexType>
					<xs:choice>
						<xs:element minOccurs="0" maxOccurs="1" name="param-name" type="xs:string" />
						<xs:element minOccurs="0" maxOccurs="1" name="param-type">
							<xs:complexType>
								<xs:choice>
									<xs:element name="java.lang.String"/>
									<xs:element name="java.lang.Boolean"/>
									<xs:element name="java.lang.Integer"/>
									<xs:element name="java.lang.Long"/>
									<xs:element name="java.lang.Double"/>
									<xs:element name="java.math.BigDecimal"/>
									<xs:element name="java.io.File"/>
									<xs:element name="java.sql.Date"/>
									<xs:element name="java.sql.Time"/>
									<xs:element name="java.sql.Timestamp"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element minOccurs="0" maxOccurs="1" name="param-value" type="xs:string"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	 -->
	 
	 <!-- 
	<xs:group name="tcp-config-elements">
		<xs:choice>
            <xs:element name="local-address" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="host" use="required" type="xs:string"/>
					<xs:attribute name="port" use="optional" type="xs:integer"/>
				</xs:complexType>
            </xs:element>
			<xs:element name="socket-provider" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:attribute name="config" use="optional" type="xs:string"/>
				</xs:complexType>
			</xs:element>
            <xs:element name="reuse-address" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
            <xs:element name="keep-alive-enabled" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
            <xs:element name="tcp-delay-enabled" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
            <xs:element name="receive-buffer-size" minOccurs="0" maxOccurs="1" type="size-value"/>
            <xs:element name="send-buffer-size" minOccurs="0" maxOccurs="1" type="size-value"/>
            <xs:element name="linger-timeout" minOccurs="0" maxOccurs="1" type="size-value"/>
		</xs:choice>
	</xs:group>
	 -->
	
	<xs:simpleType name="time-value">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]+|[0-9]+([.][0-9]+)?(MS|ms|S|s|M|m|H|h|D|d)?)"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="size-value">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]+|[0-9]+([.][0-9]+)?(K|k|M|m|G|g|T|t)?[B|b]?)"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="lease-granularity">
		<xs:choice>
			<xs:element name="member"/>
			<xs:element name="thread"/>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="near-invalidation-strategy">
		<xs:choice>
			<xs:element name="present"/>
			<xs:element name="all"/>
			<xs:element name="auto"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="eviction-policy">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
			<xs:element name="lru"/>
			<xs:element name="lfu"/>
			<xs:element name="hybrid"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="unit-calculator">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
			<xs:element name="binary"/>
			<xs:element name="factor" type="xs:integer"/>
		</xs:choice>
	</xs:complexType>
	
	<!--
	
	Bean level elements
	==========================================================
	-->
	
	<!-- Service scheme configurations -->
	
	<xs:element name="service-instance">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:attribute name="scheme-name" use="required" type="xs:IDREF"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>	
	</xs:element>
	
	<xs:group name="coherence-service-config-elements">
		<xs:choice>
	            <xs:element name="service-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
				<xs:element name="autostart" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
				<!-- configuration bean part -->
				<xs:element name="serializer" minOccurs="0" maxOccurs="1" type="serializer-bean"/>
				<xs:element name="member-listener" minOccurs="0" maxOccurs="unbounded" type="single-spring-bean"/>
				<xs:element name="serivice-listener" minOccurs="0" maxOccurs="unbounded" type="single-spring-bean"/>
				<!-- TODO
				<xs:element name="guardian-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
				<xs:element name="service-failure-policy" minOccurs="0" maxOccurs="1" type="service-failure-policy-bean"/>
				 -->
		</xs:choice>
	</xs:group>
	
	<xs:element name="distributed-service-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="coherence-service-config-elements"/>
						<xs:element name="partition-count" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="key-associator" minOccurs="0" maxOccurs="1" type="single-spring-bean"/>
						<xs:element name="key-partitioning" minOccurs="0" maxOccurs="1" type="single-spring-bean"/>
						<xs:element name="partition-listener" minOccurs="0" maxOccurs="unbounded" type="single-spring-bean"/>
						<xs:element name="backup-count" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="backup-count-after-writebehind" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<!-- TODO 
						<xs:element name="backup-storage" minOccurs="0" maxOccurs="1" type=""/>
						 -->
						<xs:element name="thread-count" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="lease-granularity" minOccurs="0" maxOccurs="1" type="lease-granularity"/>
						<xs:element name="transfer-threshold" minOccurs="0" maxOccurs="1" type="size-value"/>
						<xs:element name="local-storage" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="task-hung-threshlod" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="task-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="request-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
						<!-- TODO
						<xs:element name="partitioned-quorum-policy-scheme" minOccurs="0" maxOccurs="1" />
						<xs:element name="operation-bundling" minOccurs="0" maxOccurs="1"/>
						 -->
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="replicated-service-scheme" >
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="coherence-service-config-elements"/>
						<xs:element name="standard-lease-milliseconds" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="lease-granularity" minOccurs="0" maxOccurs="1" type="lease-granularity"/>
						<xs:element name="mobile-issues" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>				
	</xs:element>
	
	<xs:element name="optimistic-service-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:group ref="coherence-service-config-elements"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="invocation-service-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="coherence-service-config-elements"/>
						<xs:element name="thread-count" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="task-hung-threshlod" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="task-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="request-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>				
	</xs:element>

	<xs:element name="proxy-service-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:group ref="coherence-service-config-elements"/>
						<xs:element name="task-hung-threshlod" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="task-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="request-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="thread-count" minOccurs="0" maxOccurs="1" type="xs:integer"/>
						<xs:element name="acceptor-config" minOccurs="0" maxOccurs="1" type="acceptor-config-bean"/>
						
<!--						<xs:element name="proxy-config" minOccurs="0" maxOccurs="1" type="proxy-config-bean"/>-->

						<xs:element name="remote-cache-service" minOccurs="0" maxOccurs="1" type="single-spring-bean"/>
						<xs:element name="remote-invocation-service" minOccurs="0" maxOccurs="1" type="single-spring-bean"/>
						<!-- TODO
						<xs:element name="proxy-quorum-policy-scheme" minOccurs="0" maxOccurs="1" />
						 -->
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="remote-cache-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="initiator-config" minOccurs="0" maxOccurs="1" type="initiator-config-bean"/>
						<!-- TODO
						<xs:element name="operation-bundling" minOccurs="0" maxOccurs="1" type="single-spring-bean"/>
						 -->
					</xs:choice>
				</xs:extension>
			</xs:complexContent>		
		</xs:complexType>
	</xs:element>
	
	<xs:element name="remote-invocation-service-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
			            <xs:element name="service-name" minOccurs="0" maxOccurs="1" type="xs:string"/>
						<xs:element name="initiator-config" minOccurs="0" maxOccurs="1" type="initiator-config-bean"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<!-- TODO
	 
	<xs:element name="transactional-service-scheme">
	</xs:element>
	
	 -->	

	<!-- Cache scheme configuration -->
	
	<xs:element name="named-cache">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:attribute name="cache-name" use="required" type="xs:IDREF"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="named-cache-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="front-tier" minOccurs="0" maxOccurs="1" type="front-tier-bean"/>
						<xs:element name="back-tier" minOccurs="0" maxOccurs="1" type="back-tier-bean"/>				
						<xs:element name="service" minOccurs="1" maxOccurs="1" type="cache-service-bean"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="cache-service-bean">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
			<xs:element ref="distributed-service-scheme"/>
			<xs:element ref="replicated-service-scheme"/>
			<xs:element ref="optimistic-service-scheme"/>
			<xs:element ref="remote-cache-scheme"/>
			<!-- 
			<xs:element ref="transactional-service-scheme"/>
			 -->
			<xs:element name="local"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:group name="cache-map-elements">
		<xs:choice>
			<xs:group ref="single-spring-bean-elements"/>
			<xs:element ref="local-cache-scheme"/>
			<xs:element name="java-map"/>
		</xs:choice>
	</xs:group>
	
	<xs:complexType name="cache-map-bean">
		<xs:choice>
			<xs:group ref="cache-map-elements"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="front-tier-bean">
		<xs:choice>
			<xs:group ref="cache-map-elements"/>
			<xs:element ref="near-cache-scheme"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="back-tier-bean">
		<xs:choice>
			<xs:group ref="cache-map-elements"/>
			<xs:element ref="read-write-backing-map-scheme"/>
		</xs:choice>
	</xs:complexType>

	<xs:element name="near-cache-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="front-scheme" minOccurs="0" maxOccurs="1" type="cache-map-bean"/>
						<xs:element name="invalidation-strategy" minOccurs="0" maxOccurs="1" type="near-invalidation-strategy"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>		
		</xs:complexType>
	</xs:element>

	<xs:element name="read-write-backing-map-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="cachestore" minOccurs="1" maxOccurs="1" type="single-spring-bean"/>
						<xs:element name="cachestore-timeout" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="internal-cache-scheme" minOccurs="0" maxOccurs="1" type="cache-map-bean"/>
						<xs:element name="miss-cache-scheme" minOccurs="0" maxOccurs="1" type="cache-map-bean"/>
						<xs:element name="read-only" minOccurs="0" maxOccurs="1" type="xs:boolean"/>
						<xs:element name="write-delay" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="write-batch-factory" minOccurs="0" maxOccurs="1" type="xs:double"/>
						<xs:element name="write-requeue-threshold" minOccurs="0" maxOccurs="1" type="xs:int"/>
						<xs:element name="refresh-ahead-factor" minOccurs="0" maxOccurs="1" type="xs:double"/>				
					</xs:choice>
				</xs:extension>
			</xs:complexContent>		
		</xs:complexType>
	</xs:element>

	<xs:element name="local-cache-scheme">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="beans:identifiedType">
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="eviction-policy" minOccurs="0" maxOccurs="1" type="eviction-policy"/>
						<xs:element name="high-units" minOccurs="0" maxOccurs="1" type="size-value"/>
						<xs:element name="low-units" minOccurs="0" maxOccurs="1" type="size-value"/>
						<xs:element name="unit-calculator" minOccurs="0" maxOccurs="1" type="unit-calculator"/>
						<xs:element name="expiry-delay" minOccurs="0" maxOccurs="1" type="time-value"/>
						<xs:element name="flush-delay" minOccurs="0" maxOccurs="1" type="time-value"/>
					</xs:choice>
				</xs:extension>
			</xs:complexContent>		
		</xs:complexType>
	</xs:element>
	
</xs:schema>